<!DOCTYPE html>
<html lang="tr">

  	{% include head.html %}

	<body>
		<nav class="nav">
			<div class="nav-container">
				<a href="{{ site.baseurl }}/">
					<h2 class="nav-title">{{ site.author.name }}</h2>
				</a>
				<ul>
					<li><a href="/hakkinda.html">About</a></li>
					<li class="social-ic"><a href="https://www.linkedin.com/in/oguzhaninan/"><img src="{{ '/assets/img/icons/ic-linkedin.png' | absolute_url }}"/></a></li>
					<li class="social-ic"><a href="https://twitter.com/oguzaninan"><img src="{{ '/assets/img/icons/ic-twitter.png' | absolute_url }}"/></a></li>
					<li class="social-ic"><a href="https://github.com/oguzhaninan"><img src="{{ '/assets/img/icons/ic-github.png' | absolute_url }}"/></a></li>
					<li class="social-ic"><a href="https://www.goodreads.com/oguzhaninan"><img src="{{ '/assets/img/icons/ic-goodreads.png' | absolute_url }}"/></a></li>
				</ul>
			</div>
		</nav>

		<main>
			{{ content }}
		</main>

		<footer>
			<span>
			&copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
			</span>
		</footer>
  	</body>
</html>
